footer.footer
  .container
    .footer__wrap   
      .footer__col
        .footer__logo   
          a(href="#")
            img(src="assets/img/logo-footer.png", alt="")
        .footer__copyright 
          p Copyright © 2021 официальный интернет-магазин «Рабочая одежда»
          p ООО «Рабочая Одежда»
          p ИНН: 7811715676 
          p КПП: 781101001
          p ОГРН: 1187847367608 
          p Россия, Санкт-Петербург            
      .footer__col
        .contacts-block-wrap
          .contacts-block
            a(href="tel:+78126422310").phone.underline +7 (812) 642-23-10 
            a(href="mailto:info@roba-spec.ru").underline info@roba-spec.ru 
          .contacts-block
            a(href="#").btn.btn.call-back-js Заказать звонок 

          .contacts-block
            a(href="#").underline Контакты
            a(href="vk.com/roba-spec" target="_blank").underline vk.com/roba-spec
        .info-block 
          p Обращаем ваше внимание на то, что информация размещенная в интернет-магазине roba-spec.ru носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст.437 ГК РФ,

          p Производитель оставляет за собой право в одностороннем порядке вносить изменения в состав материалов, используемых в производстве продукции, при условии сохранения функциональных и защитных свойств продукции. Актуальную информацию учтоянйте по телефону 
            a(href="tel:+78126422310") +7(812) 642-23-10   

footer.footer-mobile
  .container
    .footer-mobile__logo
      a(href="#")
        img(src="assets/img/logo-footer.png", alt="")
    .footer-mobile__col-wrap      
      .footer-mobile__col
        .footer-mobile__copyright   
          p Copyright © 2021 официальный интернет-магазин «Рабочая одежда»
          p ООО «Рабочая Одежда»
          p ИНН: 7811715676 
          p КПП: 781101001 
          p ОГРН: 1187847367608 
      .footer-mobile__col
        span Звоните и пишите по любым вопросам!
        a(href="tel:+78126422310") +7 (812) 642-23-10
        a(href="mailto:info@roba-spec.ru") info@roba-spec.ru
        a(href="#").btn.call-back-js Заказать звонок
    .block-info
      p Обращаем ваше внимание на то, что информация размещенная в интернет-магазине roba-spec.ru носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст. 437 ГК РФ,
      p Производитель оставляет за собой право в одностороннем порядке вносить изменения в состав материалов, используемых в производстве продукции, при условии сохранения функциональных и защитных свойств продукции. Актуальную информацию учтоянйте по телефону 
        a(href="tel:+78126422310") +7(812) 642-23-10     