* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $bc;
  font-weight: 600;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: $akr;
}

.scroll-disabled {
  overflow: hidden;
}

.dark-layout {
  overflow: hidden;

  &:before {
    position: fixed;
    content: '';
    background-color: rgba(0, 0, 0, 0.188);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h1 {
  @include xs {
    font-size: rem(18);
    line-height: rem(17);
  }
}

h2 {
  font-size: rem(28);

  @include xs {
    font-size: rem(16);
    line-height: rem(16);
  }
}


p {
  font-size: rem(16);
  line-height: rem(17);

  @include xs {
    font-size: rem(12);
  }
}

.underline {
  position: relative;
  display: inline-block;

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    content: '';
    height: rem(1);
    width: 0;
    top: 100%;
    left: 0;
    transition: $tr;
    background-color: $bc;
  }
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1170px);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end


// title start
.skew {
  transform: skew(-20deg);
  display: inline-block;
  padding: rem(3) rem(6);

  span {
    transform: skew(20deg);
    color: $wc;
    display: block;
  }

  &.green {
    background-color: $green;
  }

  &.orange {
    background-color: $orange;
  }
}

// title end

// btn start
.btn {
  padding: 0 rem(18);
  height: rem(49);
  border-radius: rem(10);
  color: $wc;
  font-size: rem(20);
  display: inline-flex;
  align-items: center;
  border: rem(1) solid $bc;
  text-align: center;
  line-height: rem(16);
  justify-content: center;
  transition: $tr;
  cursor: pointer;

  &--catalog {
    font-weight: 700;
    background-color: $green;
    border: rem(1) solid $green;
    color: $wc;

    @include sm {
      padding: 0 rem(10);
      font-size: rem(15);
      height: rem(42);
      border-radius: rem(5);
    }

    &:hover {
      background-color: #269454;
    }

    .hamburger {
      display: inline-block;
      margin-right: rem(6);
      width: rem(20);
      height: rem(15);
      position: relative;

      span {
        height: rem(3);
        background-color: $wc;
        display: block;
        transition: $tr;
        position: absolute;
        transform-origin: left;

        &:first-child {
          width: rem(20);
        }

        &:nth-child(2) {
          width: rem(14);
          top: rem(6);
        }

        &:last-child {
          width: rem(9);
          margin-bottom: 0;
          bottom: 0;
        }
      }
    }

    &.open {
      span {
        width: 15px;

        &:first-child {
          top: -1px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          transform: translateX(-200px);
          opacity: 0;
        }

        &:last-child {
          bottom: -1px;
          width: 100%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &--prevailing {
    border-color: $green;
    color: $wc;
    background-color: $green;

    &:hover {
      background-color: #269454 !important;
      color: $wc !important;
      border-color: #269454 !important;

    }
  }

  &--secondary {
    border-color: $orange;
    color: $wc;
    background-color: $orange;

    &:hover {
      background-color: #e79514 !important;
      color: $wc !important;
      border-color: #e79514 !important;
    }
  }
}

// btn end




// slider btn start
.slider-btn {
  width: rem(42);
  height: rem(42);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  background-color: #a4ddbc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  outline: none;
  cursor: pointer;

  &--left {
    right: 100%;
    margin-right: rem(45px);
    transform: translateY(-50%);
  }

  &--right {
    left: 100%;
    margin-left: rem(45px);
    transform: translateY(-50%) rotate(180deg);
  }

  .arrow {
    span {
      width: rem(10);
      height: rem(1);
      background-color: $green;
      display: block;
      transform-origin: left;
      transform: rotate(45deg);

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

// slider btn end

// breadcrumbs start
.breadcrumbs {
  ul {
    li {
      font-size: rem(14);
      display: inline-block;
      padding-left: rem(10);
      padding-right: rem(3);
      position: relative;

      &:before {
        position: absolute;
        content: '>';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-child {
        &:before {
          display: none;
        }

        padding-left: 0;
      }

      &:last-child {
        padding-left: rem(15);

        &:before {
          content: '->';
        }

        a {
          pointer-events: none;
        }
      }

      a {
        font-size: rem(14);
        color: $bc;

        @include xs {
          font-size: rem(10);
        }
      }
    }
  }
}

// breadcrumbs end

// input start
.input {
  margin-bottom: rem(10);

  label {
    line-height: rem(17);
    margin-bottom: rem(7);
    display: block;

    @include xs {
      font-size: rem(12);
      margin-bottom: rem(2);
    }
  }

  &__wrap {
    border-radius: rem(10);
    border: rem(1) solid #ccc;
    max-width: rem(200);
    width: 100%;

    @include xs {
      max-width: rem(165);
    }

    input {
      width: 100%;
      height: rem(28);
      padding-left: rem(10);

      @include xs {
        font-size: rem(12);
      }
    }
  }

  &--file {

    input {
      position: absolute;
      padding-left: 0;
      padding-left: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    position: relative;

    .input__wrap {
      max-width: inherit;
      border: none;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: rem(145);
        height: rem(40);
        background-color: $wc;
        left: 0;

        @include xs {
          width: rem(120);
        }
      }
    }

    .btn {
      position: relative;
      max-width: 115px !important;
      min-height: rem(30);
      left: 0;
      font-size: rem(16) !important;
      padding: 0;
      z-index: 9;

      @include xs {
        font-size: rem(12) !important;
        height: rem(20);
      }
    }
  }
}


.radio {
  margin-bottom: rem(15);

  @include sm {
    margin-bottom: rem(10);
  }

  @include xs {
    margin-bottom: rem(5);
  }

  label {
    position: relative;
    cursor: pointer;
    padding-left: rem(45);

    @include sm {
      padding-left: rem(20);
      font-size: rem(12);
      line-height: rem(25);
    }

    @include xs {
      font-size: rem(12);
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      transition: $tr;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
    }

    &:before {
      width: rem(12);
      height: rem(12);
      border: rem(1) solid #0c0c0c;
    }

    &:after {
      position: absolute;
      content: '';
      width: rem(10);
      height: rem(10);
      background-color: $green;
      left: rem(2);
      opacity: 0;
      transform: translateY(-50%) scale(0);
    }
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    &:checked {

      +.radio-label {
        &:after {
          opacity: 1;
          transform: translateY(-50%) scale(1);
        }
      }
    }
  }
}

.textarea {
  margin-top: rem(30);

  label {
    display: block;
    font-weight: 900;
    margin-bottom: rem(5);
    padding-left: rem(4);

    @include xs {
      font-size: rem(12);
    }
  }

  textarea {
    padding: rem(10) rem(15);
    border-radius: rem(10);
    border: rem(1) solid #c1c1c1;
    max-width: rem(365);
    width: 100%;
    max-height: rem(100);
    resize: none;
    outline: none;
    margin-bottom: rem(12);
  }
}




// input end


// popup start

.popup-window {
  box-shadow: 0px 3px 6.57px 2.43px rgba(39, 174, 96, 0.35);
  background-color: $wc;
  border-radius: rem(10);
  padding: rem(30) rem(20) rem(20) rem(20);
  z-index: 100;
  max-width: rem(355);
  width: 100%;
  display: none;

  @include xs {
    max-width: rem(280) !important;
    padding: rem(30) rem(15) rem(15) rem(15);
  }

  p {
    margin-bottom: rem(10);
  }

  &__control {
    margin-top: rem(18);


    .btn {
      min-width: rem(113);
      height: rem(30);
      font-size: rem(16);
      padding: 0 rem(7);
      margin-right: rem(22);
      font-weight: 900;

      @include xs {
        margin-right: rem(0);
      }

      &:hover {
        background-color: #34e37e !important;
        border-color: #34e37e !important;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tabs {
    li {
      a {
        font-size: rem(28);

        @include xs {
          font-size: rem(20);
        }
      }
    }
  }

  &__title {
    font-size: rem(28);
    line-height: rem(17);
    margin-bottom: rem(13);

    @include xs {
      font-size: rem(20);
      line-height: rem(17);
      margin-bottom: rem(13);
    }
  }

  &--success-message {

    .popup-window__wrap {
      min-height: rem(95);
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include xs {
        min-height: rem(75);
      }
    }
  }

  &--review,
  &--orange {
    box-shadow: 0px 3px 6.57px 2.43px rgba(243, 156, 18, 0.35);
    max-width: rem(260);

    .btn {
      color: $orange;
      background-color: transparent;
      max-width: rem(113);
      width: 100%;
      height: rem(30);
      font-size: rem(16);
      margin-bottom: rem(30);
    }

    p {
      font-weight: 900;
    }

    .popup-window__order-theme {
      margin-bottom: rem(30);

      span {
        color: $orange;
        font-weight: 900;
      }
    }
  }

  &--review {
    max-width: rem(320);
    width: 100%;

    .textarea {
      label {
        font-weight: 600;
      }
    }

    .error {
      font-size: rem(12);
      color: #f00;
      display: inline-block;
      margin-bottom: 0;
      margin-left: rem(10);

      @include xs {
        font-size: rem(10);
      }
    }

    .btn {
      margin-bottom: 0;
    }
  }

  &--callback {
    .btn {
      margin: 0;
    }
  }

  &--order-success {
    .popup-window__success-wrap {
      display: flex;
      align-items: center;
      margin-top: rem(15);
    }

    .popup-window__success-img {
      max-width: rem(40);
      width: 100%;
      min-height: rem(40);
      margin-right: rem(20);
    }
  }
}

.close {
  display: inline-block;
  position: absolute;
  right: rem(6);
  top: rem(10);
  cursor: pointer;

  .close-wrap {
    width: rem(20);
    height: rem(20);
    display: inline-block;
    position: relative;
  }

  span {
    position: absolute;
    width: rem(16);
    height: rem(3);
    background-color: $bc;
    display: block;
    top: rem(5);

    &:first-child {
      transform-origin: left;
      transform: rotate(45deg);
      left: 6px;
    }

    &:last-child {
      transform-origin: right;
      transform: rotate(-45deg);
      right: rem(3);
    }

  }
}

// popup end



// stock start
.stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: rem(90) 0;

  @include lg {
    margin: rem(40) 0;
  }

  &__title {
    color: $orange;
    font-weight: 900;
    font-size: rem(38);

    @include lg {
      font-size: rem(30);
    }

    @include xs {
      font-size: rem(25);
      line-height: rem(20);
      margin-bottom: rem(10);
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      font-size: rem(30);
      line-height: rem(30);
      text-align: center;

      @include lg {
        font-size: rem(25);
        line-height: rem(25);
      }

      @include xs {
        font-size: rem(20);
        line-height: rem(20);
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

// stock end





// quantity start
.quantity {
  border-radius: rem(10);
  background-color: #c7c5c5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: rem(66);
  width: 100%;
  padding: 0 rem(8);

  @include xs {
    padding: 0 rem(5);
    max-width: rem(50);
  }

  input {
    width: 100%;
    min-height: rem(27);
    text-align: center;
    font-size: rem(15);

    @include xs {
      font-size: rem(8);
      min-height: rem(15);
    }
  }

  .minus,
  .plus {
    position: relative;

    &:after,
    &:before {
      position: absolute;
      content: '';
      width: rem(10);
      height: rem(1);
    }
  }

  .minus {
    &:before {
      position: absolute;
      content: '';
      width: rem(12);
      height: rem(1);
      background-color: $bc;
      left: 50%;
      transform: translateX(-50%);

      @include xs {
        width: rem(7);
      }
    }
  }

  .plus {

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: rem(12);
      height: rem(1);
      background-color: #6c6c6c;

      @include xs {
        width: rem(7);
      }
    }

    &:before {
      transform: rotate(90deg);
    }
  }

  .quantity-btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

// quantity end



.product-added {
  min-height: rem(54);
  background-color: $green;
  display: flex;
  align-items: center;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 9;
  transition: $tr;

  &.added {
    top: 0;
  }

  &__text {
    color: $wc;
    font-weight: 900;

    .link {
      color: $wc;
      margin-left: rem(25);
      font-weight: 900;

      &:after {
        width: 100%;
        background-color: $wc;
      }
    }
  }

  .close {
    top: 50%;
    transform: translateY(-50%);
    right: rem(15);
  }
}