.catalog {
  display: flex;
  background-color: $wc;
  border-radius: rem(10);
  box-shadow: 0px 3px 6.57px 2.43px rgba(39, 174, 96, 0.35);
  min-height: rem(630);
  max-width: rem(1160);
  width: 100%;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: $tr;
  pointer-events: none;
  z-index: 9;

  @include lg {
    max-width: rem(950);
    min-height: rem(600);
  }

  @include md {
    max-width: rem(700);
    min-height: rem(500);
  }

  @include sm {
    max-width: rem(500);
  }

  @include sm {
    max-width: 90%;
  }

  @include xs {
    max-width: 100%;
    border-radius: 0;
    border: none;
  }


  &--open {
    opacity: 1;
    visibility: visible;
    top: 100%;
    pointer-events: inherit;

    @include xs {
      top: rem(20);
    }
  }

  &__left-col {
    max-width: rem(275);
    width: 100%;
    border-right: rem(1) solid #e6e6e6;

    @include md {
      max-width: rem(200);
    }

    @include xs {
      max-width: 100%;
      border: none;
    }
  }

  &__right-col {
    width: 100%;

    @include xs {
      display: none;
    }
  }

  .category {

    &__item {
      position: relative;
      padding: rem(13);
      border-bottom: rem(1) solid #e6e6e6;

      &:last-child {
        border: none;
      }

      &:after {
        position: absolute;
        content: '>';
        right: rem(35);
        top: 50%;
        transform: translateY(-50%);
        font-size: rem(20);
        font-weight: 900;

        @include md {
          right: rem(15);
        }
      }

      &:before {
        position: absolute;
        content: '';
        height: 100%;
        top: 0;
        left: 0;
        width: 0;
        background-color: rgba(164, 221, 188, .42);
        transition: $tr;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    &__item-wrap {
      display: flex;
      align-items: center;
      padding-right: rem(55);
      position: relative;

      @include md {
        padding-right: rem(30);
      }
    }

    &__icon {
      min-width: rem(40);
      max-width: rem(40);
      margin-right: rem(18);

      @include md {
        min-width: rem(30);
        max-width: rem(30);
      }
    }

    &__title {
      font-size: rem(20);
      font-weight: 900;

      @include md {
        font-size: rem(16);
        font-weight: 700;
      }
    }
  }

  &__replace-content-block {
    padding: rem(26) rem(37);

    @include md {
      padding: rem(15);
    }
  }

  &__title {
    font-weight: 900;
    font-size: rem(26);
    color: $bc;
  }

  &__product-wrap {
    margin-top: rem(50);
    display: flex;
    flex-wrap: wrap;

    @include md {
      margin-top: rem(30);
    }
  }

  &__product {
    display: flex;
    flex-basis: 40%;
    margin-right: rem(80);
    margin-bottom: rem(50);

    @include lg {
      margin-right: rem(20);
      flex-basis: 45%;
    }

    @include sm {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: rem(30);
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;

      @include sm {
        margin-bottom: rem(30);
      }
    }
  }

  &__product-img {
    max-width: rem(110);
    width: 100%;
    margin-right: rem(15);

    @include lg {
      max-width: rem(70);
    }

    @include md {
      max-width: rem(45);
    }
  }

  &__product-desc {
    * {
      color: $bc;
    }

    ul {
      li {
        margin-bottom: rem(7);

        @include lg {
          margin-bottom: rem(5);
        }

        a {
          font-weight: 600;

          @include lg {
            font-size: rem(15);
          }

          @include md {
            font-size: rem(14);
          }
        }
      }
    }
  }

  &__product-title {
    font-size: rem(18);
    margin-bottom: rem(15);
    font-weight: 900;

    @include md {
      margin-bottom: rem(10);
      font-size: rem(16);
      font-weight: 700;
    }
  }

  &__close {
    position: absolute;
    right: rem(37);
    top: rem(26);
    width: 20px;
    height: 20px;
    cursor: pointer;

    @include md {
      top: rem(15);
      right: rem(15);
    }

    span {
      width: rem(22);
      height: rem(2);
      background: $green;
      display: block;
      position: absolute;
      top: rem(10);

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}


.catalog-page {
  &__wrap {
    display: flex;
    align-items: flex-start;

    @include sm {
      flex-direction: column;
    }
  }

  &__subcategory-wrap {
    display: flex;
    flex-wrap: wrap;

    @include xs {
      justify-content: space-between;
    }
  }

  &__subcategory-item {
    max-width: rem(340);
    width: 100%;
    margin-bottom: rem(30);

    @include xs {
      max-width: 100%;
      flex-basis: 50%;
      margin-bottom: rem(10);
    }
  }

  &__subcategory {
    max-width: rem(255);
    width: 100%;
    min-height: rem(105);
    border: rem(1) solid transparent;
    border-radius: rem(10);
    overflow: hidden;
    transition: $tr;
    display: flex;
    align-items: center;
    padding: rem(5);

    @include xs {
      min-height: rem(60);
      padding: rem(1);
    }

    &:hover {
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
      border: rem(1) solid $green;
    }

    &.active {
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
      border: rem(1) solid $green;
    }
  }

  &__subcategory-img {
    min-width: rem(80);
    max-width: rem(80);
    width: 100%;
    margin-right: rem(10);

    @include xs {
      margin-right: rem(5);
      min-width: rem(40);
      max-width: rem(40);
    }
  }

  &__subcategory-title {
    font-size: rem(20);

    @include xs {
      font-size: rem(11);
    }
  }

  &__filter {
    border-radius: rem(10);
    border: rem(1) solid $bc;
    padding: rem(35) rem(20);
    max-width: rem(260);
    width: 100%;

    @include sm {
      max-width: 100%;
    }

    @include xs {
      display: none;
      max-width: rem(240);
    }
  }

  .mobile-filter {
    position: absolute;
    top: -400%;
    left: 0;
    background-color: $wc;
    z-index: 9;
    width: 100%;
    padding-top: rem(40);
    transition: $tr;

    &.--open {
      top: 0;
    }

    .close {
      right: rem(15)
    }

    .catalog-page__filter {
      @include xs {
        display: block;
      }
    }

    &__title {
      font-size: rem(14);
      font-weight: 900;
      margin-bottom: rem(20);
    }

    .select {
      font-size: rem(12);
      margin-bottom: rem(15);

      * {
        font-size: rem(12);
      }

      .form-group-ckecked {
        max-width: rem(160);
      }
    }
  }

  &__filter-title {
    font-size: rem(20);
    margin-bottom: rem(25);

    @include xs {
      font-size: rem(18);
      margin-bottom: rem(15);
    }
  }

  &__filter-item {
    padding: rem(11) 0;
    border-top: rem(1) solid $bc;
  }

  &__filter-subtitle {
    font-size: rem(18);
    margin-bottom: rem(15);

    @include xs {
      font-size: rem(14);
      margin-bottom: rem(11);
    }
  }

  &__filter-range {
    max-width: rem(175);
    margin-bottom: rem(30);

    @include xs {
      margin-bottom: rem(15);
    }

    .ui-slider-handle {
      border-radius: 100%;
      background-color: $bc !important;
      top: rem(10);
    }

    .ui-slider-horizontal {
      height: rem(3);
      background: $bc;
    }

    .ui-slider-horizontal .ui-slider-handle {
      top: 50% !important;
      margin-left: -.6em;
      transform: translateY(-50%) !important;
      cursor: pointer;
      width: 15px;
      height: 15px;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
      outline: none;
    }

    .ui-widget-header {
      background: $orange !important;
    }

    #slider-range {
      padding-left: 15px !important;
    }
  }

  &__filter-value {
    display: flex;
    margin-bottom: rem(20);

    * {
      @include xs {
        font-size: rem(14);
      }
    }

    input {
      max-width: rem(60) !important;
      width: 100% !important;
      height: rem(20);
      border-radius: rem(10);
      border: rem(1) solid $bc !important;
      text-align: right;
      padding-right: rem(7);
      color: $bc !important;
      font-weight: 600 !important;
      margin-left: rem(5);
      margin-right: rem(15);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__filter-check {
    &--cloth {
      padding-top: rem(2);

      &::-webkit-scrollbar {
        width: rem(15);
        height: rem(13);
        background-color: $wc;
        border: rem(1) solid $bc;
        padding: 0 1px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $green;
        box-shadow: inset 1px 1px 10px #f3faf7;
        width: rem(14);
      }

    }
  }

  &__filter-check-item {
    margin-bottom: rem(15);

    &:last-child {
      margin-bottom: 0;
    }

    input {
      cursor: pointer;
      position: absolute;
      display: none;

      &:checked {

        +label {
          &:after {
            transform: translateY(-50%) scale(1);
          }
        }
      }

    }

    label {
      margin-left: rem(5);
      cursor: pointer;
      position: relative;
      padding-left: rem(30);

      @include xs {
        font-size: rem(14);
        padding-left: rem(25);
      }

      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        content: '';
        border-radius: rem(5);
        border: rem(1) solid $bc;
        width: rem(18);
        height: rem(18);

        @include xs {
          width: rem(16);
          height: rem(16);
        }
      }

      &:after {
        content: '✔';
        left: rem(3);
        transform: translateY(-50%) scale(0);
        transition: $tr;
      }
    }
  }

  &__replace-block {
    padding-top: rem(40);
    padding-left: rem(30);
    width: 100%;

    @include md {
      padding-top: rem(20);
      padding-left: rem(15);
    }

    @include sm {
      padding-left: 0;
    }

    .select {
      @include xs {
        display: none;
      }

      .form-group-ckecked {
        margin-left: rem(10);
      }
    }
  }

  &__filter-product-wrap {
    display: flex;
    flex-wrap: wrap;

    @include md {
      justify-content: space-between;
    }
  }



  &__item {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: rem(30);
    margin-bottom: rem(30);
    transition: $tr;
    cursor: pointer;
    padding: rem(20) rem(10);

    &:hover {
      .btn {
        color: $wc;

        &--prevailing {
          background-color: $green;
          border-color: $green;
        }

        &--secondary {
          background-color: $orange;
          border-color: $orange;
        }
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include lg {
      flex-basis: 33.33%;
      margin: 0;
      margin-bottom: rem(30);
    }

    @include md {
      flex-basis: 45%;
    }

    @include sm {
      flex-basis: 47%;
    }



    @include xs {
      max-width: rem(350);
      flex-basis: 100%;
      margin: 0 auto !important;
      margin-bottom: rem(30) !important;
      border: none;
    }
  }

  &__item-wrap {
    margin-bottom: rem(10);
  }

  &__img {
    max-width: rem(260);
    margin: 0 auto;
  }

  &__info {
    @include xs {
      text-align: center;
    }

    * {
      font-weight: 900;
      font-size: rem(20);

      @include md {
        font-size: rem(17);
      }

      @include xs {
        text-align: center;
      }
    }
  }

  &__title {
    @include xs {
      margin-bottom: rem(5);
    }
  }


  &__cost {
    display: inline-block;
  }

  &__status {
    display: inline-block;
    font-size: rem(18);
    color: $orange;
    margin-left: rem(5);

    @include md {
      font-size: rem(16);
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      justify-content: space-around;
    }

    .btn {
      background: none;
      border-color: $bc;
      color: $bc;
      font-size: rem(18);
      max-width: 47%;
      width: 100%;
      height: rem(44);

      @include md {
        font-size: rem(15);
        padding: 0 rem(10);
        height: 40px;
      }

      @include xs {
        color: $wc;

        &--prevailing {
          background-color: $green;
          border-color: $green;
        }

        &--secondary {
          background-color: $orange;
          border-color: $orange;
        }
      }
    }
  }

  &__more {
    display: block;
    text-align: center;
  }

  &__category-slider {
    margin-top: rem(90);

    .catalog-page__subcategory-item {
      margin: 0;
      margin: auto;
    }

    .catalog-page__subcategory {
      margin: auto;
      padding: rem(10);

      @include xs {
        max-width: rem(230);
        padding: rem(5);
      }
    }

    .catalog-page__subcategory-img {
      max-width: rem(80)
    }

    .catalog-page__subcategory-title {
      font-size: rem(20);
    }
  }

  &__category-slider-wrap {
    position: relative;
    margin-top: rem(30);

    @media screen and (max-width: 1350px) {
      padding: 0 rem(40);
    }


    @include xs {
      padding: 0 rem(10);
    }

    .slider-btn {
      &--left {
        @media screen and (max-width: 1350px) {
          left: 0;
        }
      }

      &--right {
        @media screen and (max-width: 1350px) {
          right: 0;
          left: auto;
        }
      }

      @media screen and (max-width: 1350px) {
        width: rem(25);
        height: rem(25);
      }

      @include sm {
        width: rem(25);
        height: rem(25);
      }

      @include xs {
        width: rem(17);
        height: rem(17);
      }

      span {
        @include xs {
          width: rem(6);
          background-color: #82d0a3;
        }
      }
    }
  }

  &__category-slider-title {
    font-size: rem(28);
  }

  .info-block {
    margin-top: rem(100);

    h2 {
      margin-bottom: rem(15);
    }
  }

  &__filter-mobile-trigger {
    display: none;

    @include xs {
      display: inline-block;
    }

    .underline {
      color: $green;
      font-size: rem(12);

      &:after {
        width: 100%;
        background-color: $green;
      }
    }
  }

  &--search {
    .title {
      margin-bottom: rem(25);
      font-size: rem(18);
    }

    .subtitle {
      margin-bottom: rem(25);
    }

    .catalog {
      display: block;
      max-width: 100%;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      min-height: auto;
      position: relative;
      top: auto;
      visibility: visible;
      opacity: 1;
      pointer-events: inherit;

      .catalog__left-col {
        width: 100%;
        max-width: 100%;
        border: none;
      }

      .category__item-wrap {
        padding-right: 0;
      }

      .category__item {
        border: none;

        &:after {
          display: none;
        }
      }

      .category__title {
        span {
          font-weight: 900;
          font-size: rem(16);
        }
      }

      .category__icon {
        max-width: rem(40);
        min-width: rem(40);
      }
    }
  }
}