.popular {
  margin-bottom: rem(90);

  &__slider {
    margin-top: rem(40);
  }

  &__slider-wrap {
    position: relative;

    @media screen and (max-width: 1350px) {
      padding: 0 rem(40);
    }


    @include xs {
      padding: 0 rem(10);
    }

    .swiper-wrapper {
      align-items: stretch;

      .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
          .btn {
            color: $wc;

            &--prevailing {
              background-color: $green;
              border-color: $green;
            }

            &--secondary {
              background-color: $orange;
              border-color: $orange;
            }
          }
        }
      }
    }
  }

  &__slider-img {
    max-width: rem(224);
    margin: auto;
    height: 319px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-title,
  &__slider-cost {
    font-size: rem(20);
    font-weight: 900;

    @include sm {
      text-align: center;
    }

    @include xs {
      font-size: rem(12);
    }

    * {
      font-size: rem(20);
      font-weight: 900;

      @include sm {
        text-align: center;
      }

      @include xs {
        font-size: rem(12);
      }
    }
  }

  &__slider-title {
    margin-bottom: rem(10);
  }

  &__slider-cost {
    display: inline-block;

    @include xs {
      font-size: rem(14);
    }
  }

  &__slider-status {
    display: inline-block;
    color: $orange;
    font-size: rem(18);
    font-weight: 900;
    margin-left: rem(10);

    @include xs {
      font-size: rem(14);
      margin-left: rem(6);
    }
  }

  &__slider-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__slider-info-wrap {
    margin-bottom: rem(10);

    @include sm {
      text-align: center;
    }
  }


  &__slider-control {
    display: flex;
    justify-content: space-between;

    @include sm {
      justify-content: space-around;
    }

    @include xs {
      justify-content: center;
    }
  }

  .btn {
    max-width: rem(110);
    width: 100%;
    color: $bc;
    background: transparent;
    border-color: $bc;

    @include xs {
      font-size: rem(12);
      font-weight: 900;
      line-height: rem(12);
      height: rem(34);
      margin-right: rem(12);
      max-width: rem(90);
    }

    &:last-child {
      @include xs {
        margin-right: 0;
      }
    }

    &--prevailing {
      @include xs {
        background-color: $green;
        border-color: $green;
        color: $wc;
      }
    }

    &--secondary {
      @include xs {
        background-color: $orange;
        border-color: $orange;
        color: $wc;
      }
    }
  }

  .slider-btn {
    &--left {
      @media screen and (max-width: 1350px) {
        left: 0;
      }
    }

    &--right {
      @media screen and (max-width: 1350px) {
        right: 0;
        left: auto;
      }
    }

    @media screen and (max-width: 1350px) {
      width: rem(25);
      height: rem(25);
    }

    @include sm {
      width: rem(25);
      height: rem(25);
    }

    @include xs {
      width: rem(17);
      height: rem(17);
    }

    span {
      @include xs {
        width: rem(6);
        background-color: #82d0a3;
      }
    }
  }
}