extends layout/main/main
block title
  | basket
block main
  .wrapper
    .content
      include includes/header/header
      
      .basket-page
        .container
          .basket-page__empty
            .basket-page__empty-col
              .basket-page__empty-title В корзине ещё нет товаров.
              .call-to-action.skew.orange 
                span Найдите нужные товары при помощи 
                  a(href="#").underline.catalog-js каталога
                  |  и 
                  a(href="#").underline.search-js поиска
                  | !
            .basket-page__empty-col
              .basket-page__empty-img
                 img(src="assets/img/notfound.jpg", alt="") 


      

      .basket-page
        .container
          .basket-page__title Корзина
          .basket-page__table 
            table 
              thead
                tr
                  th Товар   
                  th Количество  
                  th Цена  
                  th(colspan="2") Сумма  
              tbody 
                tr 
                  td
                    .close 
                      .close-wrap
                        span  
                        span  
                    .basket-page__product-wrap
                      .basket-page__product-img
                        img(src="assets/img/popular1.jpg", alt="")
                      .basket-page__product-desc   
                        .basket-page__product-title Костюм «Байкал» утеплённый
                        .basket-page__product-status Есть на складе
                        .basket-page__product-desc-mobile 
                          .quantity
                            .minus.quantity-btn 
                            input#number(class="form-control"  min="0" type='number' value='0')
                            .plus.quantity-btn
                          p Цена за штуку: 
                            span 4560 руб. 
                          p Сумма: 
                            span 136 800 руб.   


                  td
                    .quantity
                      .minus.quantity-btn 
                      input#number(class="form-control"  min="0" type='number' value='0')
                      .plus.quantity-btn
                  td 3079 руб. 
                  td 6178 руб. 
                  td 
                    .close 
                      .close-wrap
                        span  
                        span  
                tr 
                  td
                    .close 
                      .close-wrap
                        span  
                        span  
                    .basket-page__product-wrap
                      .basket-page__product-img
                        img(src="assets/img/popular2.jpg", alt="")
                      .basket-page__product-desc   
                        .basket-page__product-title Костюм «Бригадир Люкс» утепленный.
                        .basket-page__product-status Есть на складе
                        .basket-page__product-desc-mobile 
                          .quantity
                            .minus.quantity-btn 
                            input#number(class="form-control"  min="0" type='number' value='0')
                            .plus.quantity-btn
                          p Цена за штуку: 
                            span 4560 руб. 
                          p Сумма: 
                            span 136 800 руб
                  td
                    .quantity
                      .minus.quantity-btn 
                      input#number(class="form-control"  min="0" type='number' value='0')
                      .plus.quantity-btn
                  td 4560 руб. 
                  td 136 800 руб.  
                  td 
                    .close 
                      .close-wrap
                        span  
                        span  
                tr 
                  td
                    .close 
                      .close-wrap
                        span  
                        span  
                    .basket-page__product-title Бесплатное нанесение логотипов
                    .basket-page__product-status по акции: «При покупке от 30 шт. костюмов (из участвующих в акции) бесплатное нанесение логотипов на каждый»
                      .basket-page__product-desc-mobile 
                        .quantity
                         
                          input#number(class="form-control"  min="0" type='number' value='0')
                        
                        p Цена за штуку: 
                          span 0 
                        p Сумма: 
                          span 0
                  td
                    .quantity
                       
                      input#number(class="form-control"  min="0" type='number' value='0')
                      
                  td 0 руб.  
                  td 0 руб.  
                  td 
                    .close 
                      .close-wrap
                        span  
                        span  
            .basket-page__total Итого в корзине: 
              span 142 978 руб.


        .container
          .basket-page__form-order
            .container
              .basket-page__title Оформление заказа
              .basket-page__form-col-wrap
                .basket-page__form-col
                  .basket-page__form-title
                    span 1
                    | Выберите способ доставки
                  .basket-page__form-wrap  
                    .radio
                      input#radio-1(name='radio' type='radio')
                      label.radio-label(for='radio-1') Самовывоз в г. Санкт-Петербурге, ул. Бехтерева, д. 2
                    .radio
                      input#radio-2(name='radio' type='radio')
                      label.radio-label(for='radio-2') Доставка по адресу в Санкт-Петербурге
                    .radio
                      input#radio-3(name='radio' type='radio')
                      label.radio-label(for='radio-3')  Доставка по адресу в Ленинградской области
                    .radio
                      input#radio-4(name='radio' type='radio')
                      label.radio-label(for='radio-4')  Доставка по России или странам СНГ (транспортной службой)
                    .textarea
                      label(for="textarea") Введите точный адрес доставки (город, улица, дом, помещение, где вход):
                      textarea#textarea(name="", cols="30", rows="10" placeholder="") 
                    p Стоимость доставки: 3000 руб. <br>Бесплатно от 230 000 руб 
                    p.error-form Введите адрес доставки
                .basket-page__form-col
                  .basket-page__form-title
                    span 2
                    | Выберите способ оплаты
                  .basket-page__form-wrap  
                    .radio
                      input#radio-5(name='radio' type='radio')
                      label.radio-label(for='radio-5') Юридическое лицо
                    .radio
                      input#radio-6(name='radio' type='radio')
                      label.radio-label(for='radio-6') Физическое лицо
                    
                    .input
                      label Введите ИНН:
                      .input__wrap
                        input(type="text")
                    .input.input--file
                      label Прикрепите реквизиты:
                      .input__wrap
                        input(type="file" multiple)#input_file
                        .input__btn.btn.btn--prevailing#input_btn Выберите файл
                      p.error-form Ошибка. Заполните все поля   
                .basket-page__form-col
                  .basket-page__form-title
                    span 3
                    | Основные данные
                  .basket-page__form-wrap 
                    .input
                      label(for="name") Как к вам обращаться:
                      .input__wrap
                        input(type="text" id="name" name="name")
                    .input
                      label(for="name") Ваш телефон:
                      .input__wrap
                        input(type="text" id="name" name="name")
                    .input
                      label(for="name") Ваш e-mail:
                      .input__wrap
                        input(type="text" id="name" name="name")
                .basket-page__form-col.basket-page__form-col--total
                  ul
                    li
                      span Доставка по адресу в Санкт-Петербурге: 
                      | Выборгское шоссе, д. 28, к. 3. подъезд 5, вход со двора
                    li 
                      span Оплата как физическое лицо.
                    li
                      span К оплате: 
                      | 145 978 руб. 
                  button(type="submit").btn.btn--prevailing Оформить заказ
                  p.error-form Заполните основные данные
                  p.error-form Введите адрес доставки
                  p.error-form Введите ИНН или прикрепите файл с реквизитами организации
    include includes/footer/footer


  include includes/scripts 