extends layout/main/main
block title
  | reviews
block main
  .wrapper
    .content
      include includes/header/header

      .reviews
        .container 
          .breadcrumbs
            ul  
              mixin crumb(crumb)
                li
                  a(href="#")=crumb
              +crumb('Рабочая одежда')
              +crumb('Отзывы о сайте ')
          h1 Отзывы о сайте Рабочая одежда  
          
          .reviews
            .reviews-none
                p Ещё никто не оставил отзыв об этом товаре. Будьте первым! Ваш опыт будет полезен другим.  
                a(href="#").btn.reviews-js Оставить отзыв
            br    
            .reviews__wrap
              .reviews__wrap-col
                .reviews__item
                  .reviews__col
                    .reviews__date 15.03.2021	      
                    .reviews__name Павел      
                    .reviews__rating
                  .reviews__col
                    .reviews__theme Отзыв о товаре Летний костюм рабочий «Стройка» с полукомбинизоном
                    .reviews__review Кайфовый широкий костюм с хорошим сочетанием цена-качество.  Моим узбекам очень понравился. Зашивается легко 
                    .reviews__control
                      .reviews__edit Редактировать                             
                      .reviews__delete Удалить 
                .reviews__item
                  .reviews__col
                    .reviews__date 15.03.2021	      
                    .reviews__name Павел      
                    .reviews__rating
                  .reviews__col
                    .reviews__theme Отзыв о товаре Летний костюм рабочий «Стройка» с полукомбинизоном
                    .reviews__review Кайфовый широкий костюм с хорошим сочетанием цена-качество.  Моим узбекам очень понравился. Зашивается легко 
                    .reviews__control
                      .reviews__edit Редактировать                             
                      .reviews__delete Удалить 
              .reviews__wrap-col
                p.reviews__additional-text Оставьте свой отзыв о сайте!
                a(href="#").btn.reviews-js Оставить отзыв
                .reviews__rating 
                  p.reviews__additional-text Рейтинг сайта на основе всех отзывов покупателей: 
              


    include includes/footer/footer


  include includes/scripts 
